# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\viswa\OneDrive\Desktop\sc\Online Food Ordering System - Mini Project\Online Food Ordering System - Mini Project\online_food_ordering_system_mini_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
